body {
	font-family: sans-serif;
}

.nav {
	font-weight: 500;
	position: absolute;
	top: 10px;
	right: 10px;
	left: 0;
	z-index: 3;
}

#showcase {
	background: url("../img/main.jpg") center center / cover no-repeat;
	min-height: 100vh;
	position: relative;

	#header {
		z-index: 2;
	}

	#overlay {
		background: rgba($color: #7e685a, $alpha: 0.7);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	h1 {
		font-family: "Questrial", sans-serif;
		line-height: 1;
	}
	#book {
		font-size: 1.5rem;
	}
}

//found this solution in stack overflow
#icons {
	img {
		height: 15vw;
		width: 100%;
		object-fit: cover;
		border-radius: 3px;
	}
}

#quotes {
	i {
		opacity: 0.5;
	}
}

#slider {
	img {
		height: 30vw;
		width: 100%;
		object-fit: cover;
		border-radius: 3px;
	}
}

@media (max-width: 768px) {
	.navbar {
		background: #998f8f;
		.nav-link:hover {
			border-bottom: none;
		}
	}
	#showcase {
		min-height: 500px;
		h1 {
			font-size: 4rem;
		}
	}

	#slider {
		img {
			height: 45vw;
			width: 100%;
			object-fit: cover;
			border-radius: 3px;
		}
	}
}
